@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  background-size: cover;
  background-repeat: no-repeat;
  background: #fdfdff;
  min-height: 600px;
}

header {
  width: 100%;
  text-align: center;
  margin: 0 0 0 5px;
}

header img {
  width: 15em;
  margin: -40px 0;
}

header h1,
h2 {
  margin: 0 0 10px;
}

.text {
  color: #000;
  font-weight: 600;
}

.left,
.center,
.right,
.lefter,
.lefter1,
.lefter2,
.lefter3,
.lefter4,
.righter,
.righter1,
.righter2,
.righter3,
.righter4 {
  width: 8em;
  height: 6em;

  margin: 60px 0 20px;
  /* -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; */
  border-radius: 10px;
  border: 1px solid #fff;
  box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
  /* opacity: 0; */
  transition: all .3s ease;
  transition-delay: 1s;
  /* position: relative; */
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: #58d;
  cursor: pointer;
  background-blend-mode: color-burn;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}
.left:hover,
.center:hover,
.right:hover,
.lefter:hover,
.lefter1:hover,
.lefter2:hover,
.lefter3:hover,
.lefter4:hover,
.righter:hover,
.righter1:hover,
.righter2:hover,
.righter3:hover,
.righter4:hover {
  box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
  background-color: #ccf;
}

.lefter4 {
  background-image: url("cadastro1.png");
}

.lefter3 {
  background-image: url("treinamento.png");
}

.lefter2 {
  background-image: url(admissao.png);
}

.lefter1 {
  background-image: url(demissao.png);
}

.lefter {
  background-image: url(afastamentos.png);
}

.left {
  background-image: url(ponto.png);
}

.center {
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/app_window-512.png);
}

.right {
  background-image: url(https://cdn3.iconfinder.com/data/icons/other-icons/48/cloud_weather-512.png);
}

.righter {
  background-image: url("Custo da folha.png");
}

.righter1 {
  background-image: url("execucao_orcamentaria_e_financeira.png");
}

.righter2 {
  background-image: url(https://cdn3.iconfinder.com/data/icons/analytic-investment-and-balanced-scorecard/512/634_Analysis_analytics_business_financial_research-512.png);
}

.righter3 {
  background-image: url(indicadores.png);
}

.righter4 {
  background-image: url(cadastro2.png);
}

/* ESPECIFICO MOBILE ------------------------------------------------------------------------------------------------------- */
@media (max-width: 999px) {
  .all {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    justify-content: center;
    align-items: center;
  }

  .explainer {
    display: none;
  }

  .left,
  .center,
  .right,
  .lefter,
  .lefter1,
  .lefter2,
  .lefter3,
  .lefter4,
  .righter,
  .righter1,
  .righter2,
  .righter3,
  .righter4 {
    padding: 7em 10px 0;
    justify-self: center;
  }
  .left:hover,
  .center:hover,
  .right:hover,
  .lefter:hover,
  .lefter1:hover,
  .lefter2:hover,
  .lefter3:hover,
  .lefter4:hover,
  .righter:hover,
  .righter1:hover,
  .righter2:hover,
  .righter3:hover,
  .righter4:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
    background-color: #ccf;
  }
}

/* ESPECIFICO DESKTOP ------------------------------------------------------------------------------------------------------- */
@media (min-width: 1000px) {

  body {
    height: 100vh;
    max-width: 100vw;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    position: relative;

    background: #FFF url("./background-painel-rh.png") no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  header {

    position: absolute;
    top: 0;
    display: grid;
    grid-auto-columns: 100%;
    grid-auto-rows: 1fr 1fr;
    height: 100vh;
  }

  header img {
    margin: 0px;
    justify-self: center;
  }

  header .header-text {
    align-self: flex-end;
    margin: 0 0 8%;
  }

  .all {
    display: flex;
    -webkit-perspective: 10px;
    perspective: 10px;
    -webkit-transform: perspective(300px) rotateX(20deg);
    transform: perspective(300px) rotateX(20deg);
    will-change: perspective;
    -webkit-perspective-origin: center center;
    perspective-origin: center center;
    transition: all 0.5s ease-out;
    justify-content: center;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }

  .all:hover {
    -webkit-perspective: 1000px;
    perspective: 1000px;
    transition: all 0.5s ease-in;
    -webkit-transform: perspective(10000px) rotateX(0deg);
    transform: perspective(10000px) rotateX(0deg);
  }

  .all:hover .text,
  .all:hover a .text {
    opacity: 1;
  }

  .all:hover>div,
  .all:hover>a>div {
    opacity: 1;
    transition-delay: 0s;
  }

  .all:hover .explainer {
    opacity: 0;
  }

  .left,
  .center,
  .right,
  .lefter,
  .lefter1,
  .lefter2,
  .lefter3,
  .lefter4,
  .righter,
  .righter1,
  .righter2,
  .righter3,
  .righter4 {
    width: 8vmax;
    height: 7vmax;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    border-radius: 10px;
    border: 1px solid #fff;
    box-shadow: 0 0 20px 5px rgba(100, 100, 255, 0.4);
    opacity: 0;
    transition: all .3s ease;
    transition-delay: 1s;
    position: relative;
    background-position: center center;
    background-size: 75%;
    background-repeat: no-repeat;
    background-color: #58d;
    cursor: pointer;
    background-blend-mode: color-burn;
  }

  .left:hover,
  .center:hover,
  .right:hover,
  .lefter:hover,
  .lefter1:hover,
  .lefter2:hover,
  .lefter3:hover,
  .lefter4:hover,
  .righter:hover,
  .righter1:hover,
  .righter2:hover,
  .righter3:hover,
  .righter4:hover {
    box-shadow: 0 0 30px 10px rgba(100, 100, 255, 0.6);
    background-color: #ccf;
  }

  .bg-size-95 {
    background-size: 95%;
  }

  .bg-size-120 {
    background-size: 120%;
  }

  .text {
    -webkit-transform: translateY(30px);
    transform: translateY(-30px);
    opacity: 0;
    transition: all .3s ease;
    top: -20px;
    position: absolute;
    will-change: transform;
    text-shadow: 0 0 5px rgba(100, 100, 255, 0.6);
  }

  .lower-text {
    bottom: -35px;
  }

  .even-lower-text {
    bottom: -35px;
  }

  .lefter4 {
    -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    transform: translateX(-30px) translateZ(-50px) rotateY(-10deg);
  }

  .lefter3 {
    -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    transform: translateX(-30px) translateZ(-50px) rotateY(-10deg);
  }

  .lefter2 {
    -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    transform: translateX(-30px) translateZ(-50px) rotateY(-10deg);
  }

  .lefter1 {
    -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    transform: translateX(-30px) translateZ(-50px) rotateY(-10deg);
  }

  .lefter {
    -webkit-transform: translateX(-60px) translateZ(-50px) rotateY(-10deg);
    transform: translateX(-30px) translateZ(-50px) rotateY(-10deg);
  }

  .left {
    -webkit-transform: translateX(-30px) translateZ(-25px) rotateY(-5deg);
    transform: translateX(-15px) translateZ(-25px) rotateY(-5deg);
  }

  .center {
    opacity: 1;
  }

  .right {
    -webkit-transform: translateX(30px) translateZ(-25px) rotateY(5deg);
    transform: translateX(15px) translateZ(-25px) rotateY(5deg);
  }

  .righter {
    -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    transform: translateX(30px) translateZ(-50px) rotateY(10deg);
  }

  .righter1 {
    -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    transform: translateX(30px) translateZ(-50px) rotateY(10deg);
  }

  .righter2 {
    -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    transform: translateX(30px) translateZ(-50px) rotateY(10deg);
  }

  .righter3 {
    -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    transform: translateX(30px) translateZ(-50px) rotateY(10deg);
  }

  .righter4 {
    -webkit-transform: translateX(60px) translateZ(-50px) rotateY(10deg);
    transform: translateX(30px) translateZ(-50px) rotateY(10deg);
  }

  .explainer {
    font-weight: 300;
    font-size: 2rem;

    transition: all .6s ease;
    width: 100%;
    height: 100%;
    background-color: #303050;
    background-image: radial-gradient(circle at center top, #cce, #33a);
    border-radius: 10px;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/* ESPECIFICO DESKTOP MAIORES QUE 1350PX ------------------------------------------------------------------------------------------------------- */
@media (min-width: 1350px) {
  .lower-text {
    bottom: -20px;
  }
}



.all {
  max-width: calc(100% - 100px);
}
.decoration-bottom{
  background: transparent;
  width: 66%;
  height: 40%;
  position: absolute;
  border-bottom: 2px solid #4471C4;
  border-right: 2px solid #4471C4;
  border-radius: 2px;
  box-sizing: border-box;
  right: 30px;
  bottom: 30px;
}
.decoration-top{
  background: transparent;
  width: calc(50% - 110px);
  height: 53%;
  position: absolute;
  border-top: 2px solid #4471C4;
  border-left: 2px solid #4471C4;
  border-radius: 2px;
  box-sizing: border-box;
  left: 30px;
  top: 30px;
}
.decoration-top-2{
  background: transparent;
  width: 12%;
  height: 3px;
  position: absolute;
  border-top: 2px solid #4471C4;
  border-radius: 2px;
  box-sizing: border-box;
  left: calc(50% + 80px);
  top: 30px;
}
.logomarca{
  position: absolute;
  left: 50%;
  top: -20px;
  width: 100px;
  transform: translateX(-50%);
}
header h1, h2{
  font-family: 'ABeeZee', 'Lato', sans-serif;
  color: #4471C4;
}
.text{
  font-family: 'ABeeZee', 'Lato', sans-serif;
  font-size: 0.8em;
}
@media screen and (min-width: 1000px){
  .text{
    transform: translateY(-40px);
  }
}
@media screen and (max-width: 1000px){
  .logomarca, .decoration-bottom, .decoration-top, .decoration-top-2{
    display: none;
  }
}